<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Javad Raisi", "https://www.javadraisi.com/", target:"_blank", class:"text-white" %></small>
  </div>
</footer>