<div class="container mt-5 col-10">
  <% flash.each do |name, msg| %>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <%= msg %>
    </div>
  <% end %>
</div>
